body {
    background-color: rgb(3, 22, 16);
    color: rgb(217, 255, 238);
    text-align: center;
}

.nav {
    background-color: rgb(45, 136, 110);
    font-family: stalinist one;
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(217, 255, 238);
    border-radius: 5px;
    padding: 25px 35px;
    position: fixed;
}
.nav a{
    color:rgb(217, 255, 238);
}

@keyframes navigate {
    0% {
        transform:scale(100%) translateX(0px);
    }
    100% {
        transform: scale(150%) translateX(15px);
    }
}
.nav:hover {
    animation: navigate 500ms ease;
    animation-fill-mode: forwards;
    cursor: pointer;
}

img {
    height: 400px;
    width: 650px;
}