@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Stalinist+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 22, 16);
    color: rgb(217, 255, 238);
}

a {
    color: rgb(160, 254, 222);
}

.header {
    background-color: rgb(45, 136, 110);
    font-family: stalinist one;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
}

.subscription {
    font-family: stalinist one;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    background-image: url(4gaming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
.subscription h2 {
    background-color:rgb(45, 136, 110);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    border: 2px solid rgb(160, 254, 222);
}

.articles p {
    font-family: orbitron;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
#article-images {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2%;
}

.about {
    font-family: stalinist one;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.about p {
    font-family: orbitron;
}

.footer {
    font-family: stalinist one;
    margin-top: 3%;
}
.footer a {
    font-family: orbitron;
}