body {
    background-color: rgb(3, 22, 16);
    color: rgb(217, 255, 238);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main {
    background-image: ;
}

.footer a {
    color: rgb(152, 255, 221);
}